{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ base_path }}/">Menu</a>
        <ul class="visible-links" style="display: flex; align-items: center;">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item" style="display: flex; align-items: center;">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li class="masthead__menu-item" style="display: flex; align-items: center;">
            <a href="#" onclick="toggleDarkMode(); return false;">
              <i class="fas fa-moon"></i>
            </a>
          </li>
        </ul>
        <button type="button">
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>